@CHARSET "UTF-8";

html,body{
	height: 100%;
	width: 100%;
	font-family: arial !important;
	font-size: 14px;
}

ul{
	list-style: none;
}

#body-login{
	background: linear-gradient(
      rgba(0, 0, 0, 0.42), 
      rgba(0, 0, 0, 0.42)
    ), url("../Image/background_trangchu.jpg") no-repeat center center fixed;
	height: 550px;
	/* day mang hinh */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Start Css Đăng Nhập*/
#body-flex-login{
	margin-top: 49px;
	margin-right: 120px;
	display: flex;
	height: 100%;
	justify-content: center;
    align-items: center;
}

#container-login{
	display: flex;
	width: 820px;
	height: 610px;
	background-color: white;
}

#container-login-left{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	width: 400px;
	height: 610px;
	padding: 0 16px;
	background: linear-gradient(
      rgba(0, 0, 0, 0.42), 
      rgba(0, 0, 0, 0.42)
    ),url("../Image/backgrounddangnhap.png");
}

#header-top-left{
	text-align: center;
	color: white;
}

.header-login{
	margin-top: 32px;
}

#text-logo{
	font-size: 48px
}

#hint-text-logo{
	font-size: 12px;
	opacity: 0.7;
}

#header-bottom-left{
	color: white;
	margin-bottom:64px;
}

#header-bottom-left span{
	margin-left: 8px;
}

#container-login-right{
	flex: 1;
	display: flex;
    flex-flow: column;
    justify-content: space-between;
	padding: 0 24px;
}

#header-top-right{
	font-size: 20px;
	color: #B7B7B7;
}

.actived{
	color: #DA7C79;
	font-weight: bold;
}

#container-social-login{
	align-self: flex-end;
	margin-bottom: 16px;
}

#container-center-login-right input[type="text"]{
	margin-top: 8px;
	font-size: 14px;
}

#container-center-login-right input[type="password"]{
	margin-top: 8px;
	font-size: 14px;
}

#container-center-login-right input[type="submit"]{
	margin-top: 24px;
	color: white;
	font-size: 14px;
}

.material-textinput{
	width: 100%;
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
}

.material-primary-button{
	width: 100%;
    height: 38px;
    border: 0;
    background-color: #00909C;
    box-shadow: 2px 2px 4px 2px #7D7D7D;
}

.input-icon-email {
	background: url(../Image/ic_email.png) no-repeat scroll 16px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
    padding-left: 42px;
}

.input-icon-password {
	background: url(../Image/ic_lock.png) no-repeat scroll 16px 10px;
    width: 100%;
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
    padding-left: 42px;
}

.activedlink{
	background: red;
}

#title-sanpham{
	text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.container-signup-form{
	display: none;
}

/* End css Đăng Nhập */

/* Start Css Trang Chủ*/

/*-- //banner-bottom --*/
/* Common style */
.grid figure {
	position: relative;
    overflow: hidden;
    background:#000000;
    text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 800;
    color: #e71f30;
}

.grid figure p {
    letter-spacing: 12px;
    color: #fff;
    line-height: 2em;
    font-size: 1.1em;
}

figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	width: -moz-calc(100% + 60px);
	width: -o-calc(100% + 60px);
	width: -ms-calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
	-moz-transform: translate3d(-50px,0,0);
	-o-transform: translate3d(-50px,0,0);
	-ms-transform: translate3d(-50px,0,0);
}

figure.effect-roxy figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
    border: 4px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
	-ms-transform: translate3d(-20px,0,0);
	-moz-transform: translate3d(-20px,0,0);
	-o-transform: translate3d(-20px,0,0);
}

figure.effect-roxy figcaption {
    padding: 3em;
    text-align: right;
    border: 13px solid rgba(255, 255, 255, 0.15);
}

figure.effect-roxy h3 {
    padding: 1.5em 0 .5em;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img,.agileinfo_banner_bottom_grid_three_left:hover img{
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p,.agileinfo_banner_bottom_grid_three_left:hover figcaption::before,
.agileinfo_banner_bottom_grid_three_left:hover p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.wthree_banner_bottom_grid_three_left1 {
    width: 49.5%;
    float: left;
}
.banner_bottom_agile_info {
    padding: 5em 0;
}
.banner_bottom_agile_info.team {
    background: #f5f5f5;
}
/*-- //banner-bottom --*/

#header{
	background: linear-gradient(
      rgba(0, 0, 0, 0.42), 
      rgba(0, 0, 0, 0.42)
    ), url("../Image/background_trangchu.jpg") no-repeat center center fixed;
	height: 550px;
	/* day mang hinh */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.none_nav{
	background: none !important;
    border: none !important;
}

.navbar-center{
	margin-left: 26% !important;
}

.navbar-nav a{
	color: white !important;
}

.activetc>a{
	color: #0e81e4 !important;
	background: none !important;
	font-weight: bold;
}

.open > a{
	color: #0e81e4 !important;
	background: none !important;
	font-weight: bold;
}

.dropdown-menu{
	background: #99aeb3 !important;
}

.event_header{
	text-align: center;
	margin-top: 216px;
}

.event_header > span{
	color: white;
}

.event_header > button{
	color: white;
    background: #39FFE1;
    border: #39FFE1;
}

.icon{
	width: 48px;
	height: 48px;
}

#info{
	text-align: center;
	margin-top: 48px;
}

#info > span{
	margin-top: 16px;
}

.sanpham{
	padding-bottom: 16px;
	margin-top: 30px;
	background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sanpham > img{
	display: block;
    max-width: 100%;
    height: auto;
}

.gia{
	font-size: 14px;
	color: red;
	margin-bottom: 16px;
	padding-bottom: 16px;
}

#footer{
	padding: 38px;
	margin-top: 42px;
	color: white;
	background: linear-gradient(
      rgba(0, 0, 0, 0.42), 
      rgba(0, 0, 0, 0.42)
    ), url("../Image/background_footer.jpg") no-repeat center center fixed;
}

.title-footer{
	font-size: 32px;
}

#footer p{
	text-align: center;
}

#footer textarea{
	width: 100%;
    border: 0;
    background-color: #D8D8D8;
}

.circle-avatar{
	margin-top: 8px !important;
    padding: 6px !important;
    padding-left: 9px !important;
    height: 36px !important;
    width: 36px !important;
    background: #c14abe !important;
    border-radius: 18px !important;
    font-size: 34px !important;
}



.fa-search {
	padding: 7px 10px;
	background-color: blue;
	border-radius: 5px;
	margin-top: -5px;
    color: white !important;
}

.close {
	opacity: 1 !important;
}

.modal-content{
	background: no-repeat !important;
    margin-top: 203px !important;
    border: none !important;
    margin-left: -321px;
    width: 1275px;
}

#timkiem{
	width: 1244px;
    height: 54px;
    border-radius: 10px;
}

#bt-timkiem{
	margin-left: 1175px;
    margin-top: -59px;
    width: 73px;
    height: 59px;
}

#bs-example-navbar-collapse-1{
	 margin-top: 10px;
}
.test-size{
	font-size: 18px;
    font-weight: 600;
}
/* menu */
.mymenu{
	padding: 0;
	margin: 0;
}

.mymenu li{
	font-size: 16px;
	font-weight: 600;
	padding:  4px 0px;'
}

#anhdaidien{
	width: 209%;
    height: 173%;
    border-radius: 50%;
    margin-top: -9px;
    margin-left: -10px;
}
/* end menu */

.circle-giohang{
	text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background: red;
    margin-top: -32px;
    margin-left: 18px;
}

#cart{
	margin-left: 100px !important;
    margin-top: -52px !important;
}

/*San Pham*/
.product {  
	padding: 0px;   
	position: relative; 
	overflow: hidden;   
	height: 450px;  
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 12px;
}

.product > .h4, .h5, .h6, h4, h5, h6{
	margin-top: 18px !important;
}
 
.product:hover .caption {   
	opacity: 1; 
	transform: translateY(-150px);  
	-webkit-transform:translateY(-150px);   
	-moz-transform:translateY(-150px);  
	-ms-transform:translateY(-150px);   
	-o-transform:translateY(-150px);
}
 
.product img {  
	z-index: 4;
}
 
.product .caption { 
	position: absolute; 
	top:364px;  
	-webkit-transition:all 0.3s ease-in-out;    
	-moz-transition:all 0.3s ease-in-out;   
	-o-transition:all 0.3s ease-in-out; 
	-ms-transition:all 0.3s ease-in-out;    
	transition:all 0.3s ease-in-out;    
	width: 100%;
}
 
.product .blur {    
	background-color: rgba(0, 0, 0, 0.7);   
	height: 261px;  
	z-index: 5; 
	position: absolute; 
	width: 100%;
}
.product .caption-text {    
	z-index: 10;    
	color: #fff;    
	position: absolute; 
	height: 300px;  
	text-align: center; 
	top:-20px;  
	width: 100%;
}

#textten{
	border-top:2px solid white;
	border-bottom:2px solid white;
	padding:10px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#textmota{
	border: solid 1px;
    width: 260px;
    height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hidden{
	display: none;
}
/*End San Pham */

/* Chi Tiet */
#header-chitiet{
	background-color: black;
	box-shadow: 8px 6px 6px #888888;
}

/* End Chi Tiet */

/*-- footer --*/
.footer{
    padding: 4em 0;
    background: #000;
}
.footer_agile_inner_info_w3l {
    width: 90%;
    margin: 0 auto;
}
ul.social-nav.model-3d-0.footer-social.w3_agile_social.two {
    float: none;
}
.footer-left p{
    color: #737070;
    line-height: 2em;
    font-size: 14px;
    margin-top: 22px;
}
.newsright input[type="email"] {
    outline: none;
    width: 100%;
    padding: 10px 14px;
    color: #848484;
    font-size: 14px;
    border: 1px solid #3a3939;
    width: 74%;
    letter-spacing: 3px;
    background: #1f1f1f;
}
.newsright input[type="submit"]{
    border: none;
    padding: 10px 20px 11px;
    font-size: 15px;
    outline: none;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
    font-weight: 700;
    letter-spacing: 1px;
	background: #2fdab8;
	color:#fff;
}
.newsright input[type="submit"]:hover{
    background: #fff;
    color: #000;
}
.newsleft h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 700;
}
.sign-gd h4,.sign-gd-two h4 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.sign-gd h4 span,.sign-gd-two h4 span{
  font-weight:300;
}
.sign-gd ul li,.sign-gd-two ul li {
    color: #848484;
    line-height: 2em;
    font-size: 14px;
	list-style-type:none;
}
.sign-gd ul li a,.sign-gd-two ul li a{
    color: #737070;
    letter-spacing: 1px;
}
.sign-gd ul li a:hover,.sign-gd-two ul li a:hover{
    color: #2fdab8;	
}
.w3ls-post-grid:nth-child(2){
	margin:1em 0;
}
.w3-address-grid{
    background: #080808;
    padding: 1em;
}
.w3-address-left{
	float:left;
	width:10%;
}
.w3-address-left i.fa.fa-phone,.w3-address-left i.fa.fa-envelope,.w3-address-left i.fa.fa-map-marker{
    color: #FFFFFF;
    font-size: 1em;
}
.w3-address-right{
	float: right;
    width: 87%;
}
.w3-address-right h6{
    color: #FFFFFF;
    font-size: 0.9em;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.w3-address-right p{
    margin: 1em 0 0 0;
    font-size: .9em;
    color: #565656;
}
.w3-address-right p a{
    color: #2fdab8;
    text-decoration: none;
}
.w3-address-right p a:hover{
	color:#b5b5b5;
}
.w3-address-right p span{
	display:block;
	margin:.5em 0;
}
.w3-address-grid:nth-child(2){
    margin: 0.2em 0;
}
.flickr-post ul li{
	display:inline-block;
	margin:5px 5px;
}
.flickr-post ul li {
    display: inline-block;
    margin: 1% 1%;
    width: 28%;
}
p.copy-right {
    color: #848484;
    text-align: center;
    margin-top: 62px;
    font-size: 14px;
}
p.copy-right a{
    color: #ffffff;
	text-decoration:none;
}
p.copy-right a:hover{
color: #2fdab8;	
}
.footer-left h2 a {
    font-size: 0.9em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}
.footer-left h2 a span {
    padding: 0 10px;
    background: #2fdab8;
    font-weight: 600;
}

/*-- coupons --*/
.coupons,.banner-bootom-w3-agileits,.new_arrivals_agile_w3ls_info{
   padding:4em 0;
}
.w3layouts_mail_grid {
    padding: 0 1em;
}
.w3layouts_mail_grid_left1{
	float: left;
    width: 70px;
    height: 70px;
    text-align: center;
}
.w3layouts_mail_grid_left1 i{
	font-size: 1.3em;
    color: #fff;
    line-height: 3.2em;
}
.w3layouts_mail_grid_left2{
	float:right;
	width:70%;
	    text-align: left;
}
.w3layouts_mail_grid_left2 h3{
    font-size: 0.9em;
    color: #2fdab8;
    margin: 0em 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.w3layouts_mail_grid_left2 a{
	text-decoration:none;
	color: #545454;
	font-size:14px;
}
.w3layouts_mail_grid_left2 a:hover{
	color:#212121;
}
.w3layouts_mail_grid_left2 p{
color: #545454;
    font-size: 0.9em;
    line-height: 1.8em;
}
.agile_newsletter_footer {
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    padding: 1em 0;
    margin-top: 3em;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: darkslateblue;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#2fdab8;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before,.w3layouts_mail_grid_left:hover .hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);
}

#ul-sign-grds{
	padding-left: 0px;
}

#ul-sign-grds  li  a{
	text-decoration: none;
}
/*-- //coupons --*/
/*-- //footer --*/

@media (max-width: 575.98px) {
	.navbar-center{
		margin-left: 0 !important;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
		.navbar-center{
			margin-left: 0 !important;
		}
	}

@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar-center{
		margin-left: 2% !important;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
		.navbar-center{
			margin-left: 18% !important;
		}
	
}

@media (min-width: 1200px) { }
/* End Css Trang Chủ*/
